{{ form_start(form) }}
    {#&#123;&#35;{{ form_row(form.username) }}&#35;&#125;#}
    {#{{ form_row(form.email) }}#}
    {#&#123;&#35;{{ form_row(form.plainPassword.first) }}&#35;&#125;#}
    {#&#123;&#35;{{ form_row(form.plainPassword.second) }}&#35;&#125;#}

{#<button type="submit">Register!</button>#}
{{ form_end(form) }}